consumer/WebContent/WEB-INF/wsdl/MathUtility.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wtp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wtp" xmlns:intf="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wtp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addIntegers">
    <complexType>
     <sequence>
      <element name="firstNum" type="xsd:int"/>
      <element name="secondNum" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addIntegersResponse">
    <complexType>
     <sequence>
      <element name="addIntegersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="factorial">
    <complexType>
     <sequence>
      <element name="n" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="factorialResponse">
    <complexType>
     <sequence>
      <element name="factorialReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addIntegersResponse">

      <wsdl:part element="impl:addIntegersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addIntegersRequest">

      <wsdl:part element="impl:addIntegers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="factorialRequest">

      <wsdl:part element="impl:factorial" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="factorialResponse">

      <wsdl:part element="impl:factorialResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MathUtility">

      <wsdl:operation name="addIntegers">

         <wsdl:input message="impl:addIntegersRequest" name="addIntegersRequest">

       </wsdl:input>

         <wsdl:output message="impl:addIntegersResponse" name="addIntegersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="factorial">

         <wsdl:input message="impl:factorialRequest" name="factorialRequest">

       </wsdl:input>

         <wsdl:output message="impl:factorialResponse" name="factorialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MathUtilitySoapBinding" type="impl:MathUtility">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addIntegers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addIntegersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addIntegersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="factorial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="factorialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="factorialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MathUtilityService">

      <wsdl:port binding="impl:MathUtilitySoapBinding" name="MathUtility">

         <wsdlsoap:address location="http://localhost:8080/MathAxis/services/MathUtility"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
